<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= journal.country %></title> 
    <link rel='stylesheet' href="/css/styles.css">
  </head>
  
  <body>
    <nav>
      <img src="/images/logo.png" alt="Logo" class="logo">
    </nav>

    <h1>Country:<%= journal.country %></h1>
    
    <p>Date: <%= new Date(journal.date).toLocaleDateString('en-UK') %></p>
    <p>City: <%= journal.city %></p>
    <p>Journal Entry: <%=  journal.entry %></p>
    <p>Review of visit: <%= journal.review %></p>

    <a href="/users/<%= userId %>/journals/<%= journal._id %>/edit" class="button">Edit Journal</a>
    <br>
    <br>
    <a href="/users/<%= userId %>" class="button">Back to Passport Page</a>
  </body>
</html>