
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Blog</title>
    <link rel='stylesheet' href="/css/styles.css">
</head>
<body>
    <nav>
            <a href="/">Home</a>
            <a href="/auth/signout">Sign out</a>
      </nav>

    <h1>Welcome to your Passport Page <%= user.username %></h1>

    <h2>This is where you can view your travel journal entries.</h2>

    <p>Countries you have visited so far:</p>
    <% if (user.passport.length > 0) { %>
    <ul>
        <% user.passport.forEach(journal => { %>
            <li><a href='/users/<%=user._id %>/journals/<%=journal._id%>'><%= journal.country %> - <%= journal.city %></a></li>
        <% }) %>
    </ul>
    <% } else { %>
    <p>No Counties visited - time to book a ticket!</p>
    <% } %>

    <a href="/users/<%= user._id %>/journals/new" class="button">Add a new Journal entry</a>

    
</body>
</html>
